.todo {
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 1px 1px 14px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 14px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 14px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow linear 0.3s;
}

.todo:hover {
  box-shadow: 1px 1px 24px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 24px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 24px 4px rgba(0, 0, 0, 0.2);
}

.todo .todo__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 12px;
  border-bottom: 1px solid #f0f0f1;
}

.todo .todo__header-title {
  font-size: 18px;
  font-weight: 600;
}

.todo .todo__input-container {
  display: flex;
  align-items: center;
  padding: 20px 12px;
  border-bottom: 1px solid #f0f0f1;
}

.todo .todo__input {
  flex-grow: 1;
  font-size: 16px;
}

.todo .todo__input-icon {
  color: #e1e1e1;
  transform: rotate(90deg);
}

.todo .todo__list-item {
  display: flex;
  align-items: center;
  padding: 20px 12px;
  border-bottom: 1px solid #f0f0f1;
  transition: background-color ease-in-out 0.3s;
}

.todo .todo__list-item--focus {
  background-color: #ffc7c78b;
}

.todo .todo__label {
  flex-grow: 1;
  margin: 0 12px;
}

.todo .todo__list-item--completed .todo__label {
  text-decoration: line-through;
  text-decoration-color: #ff7878;
}

.todo .todo__drag-btn {
  margin-left: auto;
  cursor: move;
}

.todo .todo__list-item--focus .todo__drag-btn {
  display: none;
}

.todo .todo__remove-btn {
  display: none;
  margin-left: auto;
  color: #ff7878;
}

.todo .todo__list-item--focus .todo__remove-btn {
  display: block;
}

.todo .todo__clear-btn {
  width: 100%;
  padding: 20px 0;
  color: #ff7878;
  text-align: center;
  background-color: #f6f6f6;
  transition: all ease-in-out 0.3s;
}

.todo .todo__clear-btn:hover {
  color: #f00;
  background-color: #ffc7c7;
}

.todo .todo__clear-icon {
  margin-right: 12px;
}
